- model_class = Event
= render :partial => '/layouts/top_menu'
.container
  .row
    .col-md-10.col-md-offset-1
      = image_tag "event_list.png", class: "img-responsive"
      %h1
        Welcome!
        %small Choose or create an event (for example mountain trip)
      .bs-example
        .list-group
          - @events.each do |event|
            %a.list-group-item{:href => event_path(event)}
              %h4.list-group-item-heading= event.name.capitalize
              %p.list-group-item-text
                - event.people.each do |p|
                  = p.name
                  ,
                = "There are no people in this event" if event.people.count == 0
      = link_to t('.new', :default => t("helpers.links.new")), |
        new_event_path,                                        |
        :class => 'btn btn-primary btn-lg btn-block'
      %br        |
      .alert.alert-info
        %i.fa.fa-info
        = "You will add people and transactions to the event later"
